.inputs{
    display: flex; 
    flex-direction: column; 
    input{
        margin: .5rem; 
        max-width: 50vw; 
    }
}
h1{
    font-weight: normal; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
body{
    background-color: rgb(255, 235, 239); 
}
#submit-button{
    background-color: pink; 
    font-size: 1.2rem; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}